<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="food-editor">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a class="link back"><i class="icon icon-back"></i></a>
      </div>
      <div class="title" id="title">Edit Item</div>
      <div class="right">
        <span id="link" style="display:none;">
          <a href="#" class="link icon-only"><i id="link-icon" class="icon material-icons">link</i></a>
        </span>
        <span id="download" style="display:none;">
          <a href="#" class="link icon-only"><i class="icon material-icons">&#xe2c4</i></a>
        </span>
        <span id="upload" style="display:none;">
          <a href="#" class="link icon-only"><i class="icon material-icons">&#xe2c6</i></a>
        </span>
        <span id="submit" style="display:none;">
          <a href="#" class="link icon-only"><i class="icon material-icons">done</i></a>
        </span>
      </div>
    </div>
  </div>

  <div class="page-content">

    <form class="list" id="food-edit-form">
      <ul>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title"><b data-localize="food-editor.details">Details</b></div>
            </div>
          </a>
          <div class="accordion-item-content inline-labels">
            <ul class="form-inputs">

              <li class="item-content" id="main-photo">
                <div class="item-inner">
                  <div class="add-photo" style="display:flex;">
                    <span>
                      <a class="add-photo-camera display-inline-block">
                        <i class="icon material-icons">add_a_photo</i>
                      </a>
                    </span>
                    <span class="margin-horizontal">
                      <a class="add-photo-library display-inline-block">
                        <i class="icon material-icons">add_photo_alternate</i>
                      </a>
                    </span>
                  </div>
                  <div class="photo-holder block"></div>
                </div>
              </li>

              <li class="item-content item-input" id="barcode-container" style="display:none;">
                <div class="item-inner">
                  <div class="item-title item-label" data-localize="food-editor.barcode">Barcode</div>
                  <div class="item-input-wrap">
                    <input class="align-end" type="text" id="barcode" name="barcode" readonly disabled>
                  </div>
                </div>
              </li>

              <li class="item-content item-input hide-for-upload" id="categories-container">
                <a href="" id="categories">
                  <div class="item-inner">
                    <div class="item-title item-label" data-localize="food-editor.categories">Categories</div>
                    <div class="item-input-wrap"></div>
                    <div class="item-after" id="categories-list"></div>
                  </div>
                </a>
              </li>

              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="name" data-localize="food-editor.name">Name</label>
                  </div>
                  <div class="item-input-wrap">
                    <input class="align-end" type="text" id="name" name="name" required validate>
                  </div>
                </div>
              </li>

              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="brand" data-localize="food-editor.brand">Brand</label>
                  </div>
                  <div class="item-input-wrap">
                    <input class="align-end" type="text" id="brand" name="brand">
                  </div>
                </div>
              </li>

              <li id="category-container">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label" data-localize="food-editor.category">Category</div>
                    <div class="item-input-wrap">
                      <select class="align-end" id="category" name="category"></select>
                    </div>
                  </div>
                </div>
              </li>

              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="portion" data-localize="food-editor.serving-size">Serving Size</label>
                  </div>
                  <div class="item-input-wrap">
                    <input class="align-end auto-select" type="tel" pattern="[0-9]+[,\.\+\-0-9]*" id="portion" name="portion" required validate>
                  </div>
                </div>
              </li>

              <li class="hide-for-upload">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">
                      <label for="unit" data-localize="food-editor.serving-unit">Serving Unit</label>
                    </div>
                    <div class="item-input-wrap">
                      <input class="align-end auto-select hide-for-upload" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="unit" name="unit" required validate>
                    </div>
                  </div>
                </div>
              </li>

              <li class="upload-field">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label" data-localize="food-editor.serving-unit">Serving Unit</div>
                    <div class="item-input-wrap">
                      <select class="align-end" id="upload-unit" name="upload-unit">
                        <option value="g" data-localize="unit-symbols.g">g</option>
                        <option value="ml" data-localize="unit-symbols.ml">ml</option>
                        <option value="l" data-localize="unit-symbols.l">l</option>
                      </select>
                    </div>
                  </div>
                </div>
              </li>

              <li class="item-content item-input" id="quantity-container">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="quantity" data-localize="food-editor.number-of-servings">Number of Servings</label>
                  </div>
                  <div class="item-input-wrap">
                    <input class="align-end auto-select" type="number" min="0" step="any" id="quantity" name="quantity">
                  </div>
                </div>
              </li>

              <li class="item-content item-input hide-for-upload" id="notes-container">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="notes" data-localize="food-editor.notes">Notes</label>
                  </div>
                  <div class="item-input-wrap">
                    <textarea class="align-end" id="notes" name="notes" placeholder=""></textarea>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </li>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title"><b data-localize="food-editor.nutrition">Nutrition</b></div>
            </div>
          </a>
          <div class="accordion-item-content inline-labels">

            <ul class="upload-field">
              <li class="item-content">
                <div class="item-inner">
                  <div class="add-photo" style="display:flex;">
                    <span>
                      <a class="add-photo-camera display-inline-block">
                        <i class="icon material-icons">add_a_photo</i>
                      </a>
                    </span>
                    <span class="margin-horizontal">
                      <a class="add-photo-library display-inline-block">
                        <i class="icon material-icons">add_photo_alternate</i>
                      </a>
                    </span>
                  </div>
                  <div class="photo-holder block"></div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <label class="radio">
                      <input type="radio" name="nutrition_per" id="per_100g" value="&nutrition_data_per=100g" checked /><i class="icon-radio"></i>
                    </label>
                    <label class="radio-label" for="per_100g">
                      <b data-localize="food-editor.per-100">Per 100g/100ml</b>
                    </label>
                  </div>
                  <div class="item-input-wrap">
                    <label class="radio">
                      <input type="radio" name="nutrition_per" id="per_serving" value="&nutrition_data_per=serving" /><i class="icon-radio"></i>
                    </label>
                    <label class="radio-label" for="per_serving">
                      <b data-localize="food-editor.per-serving">Per Serving</b>
                    </label>
                  </div>
                </div>
              </li>
            </ul>

            <ul id="nutrition">
            </ul>

            <ul>
              <li class="item-inner">
                <a class="list-button" id="nutrition-button" data-localize="foods-meals-recipes.show-more-nutriments">Show more nutriments</a>
                <div class="item-after">
                  <a class="link icon-only" id="tts-button">
                    <i class="icon material-icons" id="tts-icon">play_circle</i>
                  </a>
                </div>
              </li>
            </ul>

          </div>
        </li>

        <li class="accordion-item accordion-item-opened upload-field">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title"><b data-localize="food-editor.additional-photos">Additional Photos</b></div>
            </div>
          </a>
          <div class="accordion-item-content inline-labels">

            <ul>
              <li class="item-content" data-localize="food-editor.ingredients">Ingredients list</li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="add-photo" style="display:flex;">
                    <span>
                      <a class="add-photo-camera display-inline-block">
                        <i class="icon material-icons">add_a_photo</i>
                      </a>
                    </span>
                    <span class="margin-horizontal">
                      <a class="add-photo-library display-inline-block">
                        <i class="icon material-icons">add_photo_alternate</i>
                      </a>
                    </span>
                  </div>
                  <div class="photo-holder block"></div>
                </div>
              </li>

              <li class="item-divider"></li>

              <li class="item-content" data-localize="food-editor.packaging">Recycling instructions / packaging information</li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="add-photo" style="display:flex;">
                    <span>
                      <a class="add-photo-camera display-inline-block">
                        <i class="icon material-icons">add_a_photo</i>
                      </a>
                    </span>
                    <span class="margin-horizontal">
                      <a class="add-photo-library display-inline-block">
                        <i class="icon material-icons">add_photo_alternate</i>
                      </a>
                    </span>
                  </div>
                  <div class="photo-holder block"></div>
                </div>
              </li>
            </ul>

          </div>
        </li>

      </ul>
    </form>
  </div>
</div>