<!--
  Copyright 2018, 2019, 2020 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="food-editor">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a class="link back"><i class="icon icon-back"></i></a>
      </div>
      <div class="title" id="title" data-localize="edit-item">Edit Item</div>
      <div class="right">
        <a href="#" class="link icon-only"><i id="link" class="icon material-icons">link</i></a>
        <a href="#" id="upload" class="link icon-only"><i class="icon material-icons">&#xe2c6</i></a>
        <a href="#" id="submit" class="link icon-only"><i class="icon material-icons">done</i></a>
      </div>
    </div>
  </div>

  <div class="page-content">

    <form class="list" id="food-edit-form">
      <ul>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title">Details</div>
            </div>
          </a>
          <div class="accordion-item-content inline-labels">
            <ul>

              <li class="item-content upload-field">
                <div class="item-inner">
                  <a class="add-photo">
                    <i class="icon material-icons">add_a_photo</i>
                  </a>
                  <div class="block photo-holder ripple" style="text-align:center;"></div>
                </div>
              </li>

              <li id="main-photo" style="display:none; text-align:center;"></li>

              <li class="item-content item-input upload-field" id="barcode-container" style="display:none;">
                <div class="item-inner">
                  <div class="item-title item-label">Barcode</div>
                  <div class="item-input-wrap">
                    <input class="align-right" type="text" id="barcode" name="barcode" readonly disabled>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Name</div>
                  <div class="item-input-wrap">
                    <input class="align-right" type="text" id="name" name="name" required validate>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Brand</div>
                  <div class="item-input-wrap">
                    <input class="align-right" type="text" id="brand" name="brand">
                  </div>
                </div>
              </li>

              <li id="category-container">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Category</div>
                    <div class="item-input-wrap">
                      <select class="align-right" id="category" name="category"></select>
                    </div>
                  </div>
                </div>
              </li>

              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Serving Size</div>
                  <div class="item-input-wrap">
                    <input class="align-right" type="number" min="0" step="any" id="portion" name="portion" required validate>
                  </div>
                </div>
              </li>

              <li class="hide-for-upload">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Serving Unit</div>
                    <div class="item-input-wrap">
                      <input class="align-right hide-for-upload" type="text" onkeypress="return /[a-z]/i.test(event.key)" id="unit" name="unit" required validate>
                    </div>
                  </div>
                </div>
              </li>

              <li class="upload-field">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Serving Unit</div>
                    <div class="item-input-wrap">
                      <select class="align-right" id="upload-unit" name="upload-unit">
                        <option value="g">g</option>
                        <option value="mg">mg</option>
                        <option value="μg">μg</option>
                        <option value="l">l</option>
                        <option value="ml">ml</option>
                      </select>
                    </div>
                  </div>
                </div>
              </li>

              <li class="item-content item-input" id="quantity-container">
                <div class="item-inner">
                  <div class="item-title item-label">Number of servings</div>
                  <div class="item-input-wrap">
                    <input class="align-right" type="number" min="0" step="any" id="quantity" name="quantity">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title">Nutrition</div>
            </div>
          </a>
          <div class="accordion-item-content inline-labels">

            <ul class="upload-field">
              <li class="item-content">
                <div class="item-inner">
                  <a class="add-photo"><i class="icon material-icons">add_a_photo</i></a>
                  <div class="block photo-holder ripple" style="text-align:center;"></div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner ">
                  <div class="item-input-wrap">
                    <label class="radio">
                      <input type="radio" name="nutrition_per" id="per_100g" value="&nutrition_data_per=100g" checked /><i class="icon-radio"></i>
                    </label>
                    For 100g/100ml
                  </div>
                </div>

                <div class="item-input-wrap">
                  <label class="radio">
                    <input type="radio" name="nutrition_per" id="per_serving" value="&nutrition_data_per=serving" /><i class="icon-radio"></i>
                  </label>
                  Per serving
                </div>
              </li>
            </ul>

            <ul id="nutrition">
            </ul>
          </div>
        </li>

        <li class="accordion-item upload-field">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title">Ingredients</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <ul>
              <li class="item-content upload-field">
                <div class="item-inner">
                  <a class="add-photo"><i class="icon material-icons">add_a_photo</i></a>
                  <div class="block photo-holder ripple" style="text-align:center;"></div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Ingredients</div>
                  <div class="item-input-wrap">
                    <textarea id="ingredients_text" placeholder=""></textarea>
                  </div>
                </div>
              </li>

              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Traces</div>
                  <div class="item-input-wrap">
                    <textarea id="traces" placeholder=""></textarea>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>