<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-alert-dialog id="sort-options" cancelable>

  <div class="alert-dialog-title">Sorting</div>
  <div class="alert-dialog-content">
    <ons-list>
      <ons-list-item tappable>
        <label class="left">
          <ons-radio name="sorting" input-id="alpha" checked></ons-radio>
        </label>
        <label for="alpha" class="center">
          Alphabetically
        </label>
      </ons-list-item>
      <ons-list-item tappable>
        <label class="left">
          <ons-radio name="sorting" input-id="date"></ons-radio>
        </label>
        <label for="date" class="center">
          Most Recent
        </label>
      </ons-list-item>
    </ons-list>
  </div>
  <div class="alert-dialog-footer">
    <ons-alert-dialog-button id="cancel"">Cancel</ons-alert-dialog-button>
    <ons-alert-dialog-button id="ok">OK</ons-alert-dialog-button>
  </div>

</ons-alert-dialog>
