deliverables/
images/master/
node_modules/
platforms/browser
*/build/
.gradle
.idea
plugins/
!/platforms/android/platform_www/plugins
!/platforms/android/cordova/node_modules/
package-lock.json
.jshintrc
tasks
test
