<?xml version='1.0' encoding='utf-8'?>
<widget id="com.waist.line" version="2.3.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Waistline</name>
    <description>
        A libre calorie counter including a barcode scanner linked to the Open Food Facts database.
    </description>
    <author email="dave41264@hotmail.com" href="">
        David Healey
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-browsersync" spec="^1.1.0" />
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-indexeddb-async" spec="~0.0.1" />
    <preference name="loadUrlTimeoutValue" value="900000" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.1.2" />
</widget>
