<?xml version='1.0' encoding='utf-8'?>
<widget id="com.waist.line" version="3.5.0" android:versionCode="30500" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Waistline</name>
    <description>
        A libre calorie counter including a barcode scanner linked to the Open Food Facts database.
    </description>
    <author email="dave41264@hotmail.com" href="">
        David Healey
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-intent href="market:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="20" />
        <preference name="android-targetSdkVersion" value="30" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidExtraFilesystems" value="files,sdcard,cache" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <config-file after="uses-permission" parent="/manifest" target="AndroidManifest.xml">
          <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
          <application android:requestLegacyExternalStorage="true" />
          <application android:extractNativeLibs="true" />
          <application android:largeHeap="true" />
        </edit-config>
        <icon density="ldpi" background="res/icon/android/ldpi-background.png" foreground="res/icon/android/ldpi-foreground.png" src="res/android/ldpi.png" />
        <icon density="mdpi" background="res/icon/android/mdpi-background.png" foreground="res/icon/android/mdpi-foreground.png" src="res/android/mdpi.png" />
        <icon density="hdpi" background="res/icon/android/hdpi-background.png" foreground="res/icon/android/hdpi-foreground.png" src="res/android/hdpi.png" />
        <icon density="xhdpi" background="res/icon/android/xhdpi-background.png" foreground="res/icon/android/xhdpi-foreground.png" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" background="res/icon/android/xxhdpi-background.png" foreground="res/icon/android/xxhdpi-foreground.png" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" background="res/icon/android/xxxhdpi-background.png" foreground="res/icon/android/xxxhdpi-foreground.png" src="res/android/xxxhdpi.png" />
        <splash density="ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
        <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png" />
    </platform>
    <platform name="electron">
    	<preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
	</platform>
    <preference name="loadUrlTimeoutValue" value="900000" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <hook src="hooks/read_app_version.js" type="after_prepare" />
</widget>
