<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-page id="food-editor">

  <link rel="stylesheet" href="src/activities/foodlist/views/foodlist.css">

  <ons-toolbar modifier="material">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" id="title" data-localize="add-food">Add Food</div>
    <div class="right">
      <ons-toolbar-button id="submit"><ons-icon icon="md-check"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button id="upload"><ons-icon icon="upload"></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div id="item-data">

    <ons-card id="images">
      <ons-carousel auto-scroll="true" swipeable="true" auto-refresh="true"></ons-carousel>
    </ons-card>

    <ons-card>
      <div id="barcode-container">
        <ons-row>
          <ons-col vertical-align="center" width="45%">Barcode</ons-col>
          <ons-col id="barcode"></ons-col>
        </ons-row>
      </div>

      <ons-row>
        <ons-col vertical-align="center" width="45%">Name</ons-col>
        <ons-col>
          <ons-input type="text" id="name" name="name" required="true" value="test product"></ons-input>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col vertical-align="center" width="45%">Brand</ons-col>
        <ons-col>
          <ons-input type="text" id="brand" name="brand" value="test brand"></ons-input>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col vertical-align="center" width="45%" data-localize="food.edit-item.portion-size">Portion Size</ons-col>
        <ons-col class="align-right">
          <ons-input id="portion" name="portion" type="number" min="1" inputmode="decimal" step="any" required="true" float value="100"></ons-input>
        </ons-col>
        <ons-col></ons-col>
        <ons-col>
          <ons-input type="text" id="unit" name="unit" pattern="[A-Za-z]*" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="true" placeholder="Unit" float value="g"></ons-input>
        </ons-col>
      </ons-row>
    </ons-card>

    <ons-card id="nutrition"></ons-card>

    <div id="upload-fields">
      <input type="hidden" name="user_id" id="user_id" value="waistline-app"></input>
      <input type="hidden" name="password" id="password" value="waistline"></input>
    </div>
  </div>

  <ons-fab id="camera" position="bottom right" tappable>
    <ons-icon icon="camera"></ons-icon>
  </ons-fab>

  <ons-modal>
    <ons-icon icon="md-spinner" size="28px" spin></ons-icon>
    <p>Uploading to Open Food Facts...</p>
  </ons-modal>
</ons-page>
