.align-end {text-align: end; padding: 0 0.4em !important;}
* {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
input {-webkit-touch-callout: default !important; -webkit-user-select: auto !important; -khtml-user-select: auto !important; -moz-user-select: auto !important; -ms-user-select: auto !important; user-select: auto !important;}

select.align-end {direction: rtl;}
option {direction: ltr;}

html[dir="rtl"] select.align-end {direction: ltr;}
html[dir="rtl"] option {direction: rtl;}

.keep-ltr {direction: ltr;}

i.searchbar-icon {margin: -12px 12px;}

.item-content.item-inner {column-gap: 0.8em;}

#quantity-container .item-title {width:65% !important;}
#nutrition .item-title {width:65% !important;}

img.food-thumbnail {width: 20%; margin: 0.2em 1em 0.2em 0;}
html[dir="rtl"] img.food-thumbnail {margin: 0.2em 0 0.2em 1em;}

/* Custom color themes */
.color-theme-pink {
  --f7-theme-color: #f6b0ba;
  --f7-theme-color-rgb: 246, 176, 186;
  --f7-theme-color-shade: #f28b9a;
  --f7-theme-color-tint: #fad5da;
}

.color-theme-camino {
  --f7-theme-color: #FF5FE1;
  --f7-theme-color-rgb: 255, 95, 225;
  --f7-theme-color-shade: #ff36d9;
  --f7-theme-color-tint: #ff88e9;
}

.color-theme-eink {
  --f7-theme-color: #253238;
  --f7-theme-color-rgb: 37, 50, 56;
  --f7-theme-color-shade: #151c1f;
  --f7-theme-color-tint: #354851;
}