<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="about">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only panel-toggle" data-panel="#app-panel">
          <i class="icon material-icons">menu</i>
        </a>
      </div>
      <div class="title" data-localize="about.title">About</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="block">
      <p data-localize="about.p0">Waistline was created by David Healey with suggestions and contributions from users.</p>
      <p data-localize="about.p1">Waistline was built using Cordova available under the Apache license. Also included are Framework7, jQuery, jQuery localize, and ChartJS which are under the MIT license. The HTML, CSS, and other javascript that make
        up the main body of the app are under the GPLv3 license.</p>
      <p>
        <span data-localize="about.p2">The source code for Waistline can be found at</span>
        <a class="link" href="https://github.com/davidhealey/waistline" onclick="cordova.InAppBrowser.open('https://github.com/davidhealey/waistline', '_system'); return false;">github.com/davidhealey/waistline</a>.
      </p>
      <p>
        <span data-localize="about.p3">Current version:</span>
        <span>%%VERSION%%</span>
      </p>
    </div>
  </div>
</div>