<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="settings-diary-meal-names">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a class="link back"><i class="icon icon-back"></i></a>
      </div>
      <div class="title" data-localize="settings.diary-categories.title">Categories</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="list">
      <ul>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 1</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary" required="true" value="">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 2</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary" value="">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 3</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary" value="">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 4</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary" value="">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 5</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 6</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label"><span data-localize="settings.diary-categories.category">Category</span> 7</div>
              <div class="item-input-wrap">
                <input type="text" name="meal-names" field="diary">
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>