<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="settings">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left"><a class="link back"><i class="icon icon-back"></i></a></div>
      <div class="title" data-localize="settings.import-export.title">Import/Export</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">

    <div class="list multi-line-titles">
      <ul>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title" data-localize="settings.import-export.auto-backup">Automatic Backup</div>
              <div class="item-after">
                <label class="toggle toggle-init">
                  <input type="checkbox" field="import-export" name="auto-backup" />
                  <span class="toggle-icon"></span>
                </label>
              </div>
            </div>
          </div>
        </li>

        <li>
          <p><a href="#" class="button button-large" id="export-db" data-localize="settings.import-export.backup">Backup Database</a></p>
        </li>

        <li>
          <p><a href="#" class="button button-large" id="import-db" data-localize="settings.import-export.import">Import From Backup</a></p>
        </li>

        <li class="item-divider" data-localize="settings.import-export.import-foods-title">Import Foods</li>

        <li>
          <p><a href="#" class="button button-large" id="import-foods" data-localize="settings.import-export.import-foods">Import Foods from JSON</a></p>
          <li class="item-content item-input" id="categories-container">
            <a href="" id="categories">
              <div class="item-inner">
                <div class="item-title item-label" data-localize="settings.import-export.import-foods-categories">Categories for imported items</div>
                <div class="item-input-wrap"></div>
                <div class="item-after" id="categories-list"></div>
              </div>
            </a>
          </li>
        </li>

      </ul>
    </div>
  </div>
</div>