<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="settings-integration">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left"><a class="link back"><i class="icon icon-back"></i></a></div>
      <div class="title" data-localize="settings.integration.title">Integration</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">

    <div class="list">
      <ul>

        <li class="item-divider">Open Food Facts</li>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title" data-localize="settings.integration.off">Enable Open Food Facts search</div>
              <div class="item-after">
                <label class="toggle toggle-init">
                  <input type="checkbox" field="integration" name="off" />
                  <span class="toggle-icon"></span>
                </label>
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="#" class="item-link item-content login-screen-open" data-login-screen=".off-login">
            <div class="item-inner" data-localize="settings.integration.off-account">Open Food Facts Account</div>
          </a>
        </li>

        <li class="item-divider">U.S. DEPARTMENT OF AGRICULTURE</li>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title" data-localize="settings.integration.usda">Enable USDA search</div>
              <div class="item-after">
                <label class="toggle toggle-init">
                  <input type="checkbox" field="integration" name="usda" />
                  <span class="toggle-icon"></span>
                </label>
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="#" class="item-link item-content login-screen-open" data-login-screen=".usda-login">
            <div class="item-inner" data-localize="settings.integration.usda-api">USDA API</div>
          </a>
        </li>

      </ul>
    </div>

  </div>

  <!-- OFF Login Screen -->
  <div class="login-screen off-login">
    <div class="view">
      <div class="page">
        <div class="page-content login-screen-content">
          <div class="login-screen-title">Open Food Facts</div>
          <form>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Username</div>
                    <div class="item-input-wrap">
                      <input class="manual-bind" id="off-username" type="text" name="off-username" field="integration" placeholder="Your username">
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Password</div>
                    <div class="item-input-wrap">
                      <input class="manual-bind" id="off-password" type="password" name="off-password" field="integration" placeholder="Your password">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list">
              <ul>
                <li><a class="list-button" id="off-login" href="#">Sign In</a></li>
              </ul>
              <div class="block-footer">
                <p>This is entirely optional. You do not need an OFF account to use app.</p>
                <p><a class="link login-screen-close" href="#">Exit</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- USDA API Key Screen -->
  <div class="login-screen usda-login">
    <div class="view">
      <div class="page">
        <div class="page-content login-screen-content">
          <div class="login-screen-title">USDA</div>
          <form>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">USDA API Key</div>
                    <div class="item-input-wrap">
                      <input class="manual-bind" id="usda-key" type="password" name="usda-key" field="integration" placeholder="Your API Key">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list">
              <ul>
                <li><a class="list-button" id="usda-save" href="#">Save</a></li>
              </ul>
              <div class="block-footer">
                <p>You need to enter your personal API Key to search for foods in the USDA database.</p>
                <p>You can request a free API Key by clicking <a href="https://fdc.nal.usda.gov/api-key-signup.html">here</a>.</p>
                <p><a class="link login-screen-close" href="#">Exit</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>