<ons-page id="settings-page">
  <ons-toolbar modifier="material">
    <div class="left"><ons-toolbar-button tappable onclick="menu.open()"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button></div>
    <div class="center">User Guide</div>
    <div class="right"></div>
  </ons-toolbar>

  <ons-list>
    <ons-list-item expandable>
       <div class="center">
         Show product images
       </div>
       <div class="right">
         <ons-switch id="show-images" tappable onchange="settings.save(this);"></ons-switch>
       </div>
       <div class="expandable-content">Images will be displayed when connected to the internet. They will not be stored on your device.</div>
     </ons-list-item>
     <ons-list-item expandable>
        <div class="center">
          Disable animations
        </div>
        <div class="right">
          <ons-switch id="disable-animations" tappable onchange="settings.save(this);"></ons-switch>
        </div>
        <div class="expandable-content">Disabling animations may improve performance on some devices.</div>
      </ons-list-item>
  </ons-list>

</ons-page>
