<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="settings">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only panel-toggle" data-panel="#app-panel">
          <i class="icon material-icons">menu</i>
        </a>
      </div>
      <div class="title" data-localize="settings.title">Settings</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="list">
      <ul>
        <li>
          <a href="./appearance/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.appearance.title">Appearance</div>
          </a>
        </li>

        <li>
          <a href="./statistics/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.statistics.title">Statistics</div>
          </a>
        </li>

        <li>
          <a href="./diary/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.diary.title">Diary</div>
          </a>
        </li>

        <li>
          <a href="./foods/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.foods.title">Foods, Meals, Recipes</div>
          </a>
        </li>

        <li>
          <a href="./goals/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.goals.title">Goals</div>
          </a>
        </li>

        <li>
          <a href="./units/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.units.title">Units</div>
          </a>
        </li>

        <li>
          <a href="./nutriments/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.nutriments.title">Nutriments</div>
          </a>
        </li>

        <li>
          <a href="./body-stats/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.body-stats.title">Body Stats</div>
          </a>
        </li>

        <li>
          <a href="./integration/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.integration.title">Integration</div>
          </a>
        </li>

        <li>
          <a href="./import-export/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.import-export.title">Import/Export</div>
          </a>
        </li>

        <li>
          <a href="./developer/" class="item-link item-content">
            <div class="item-inner" data-localize="settings.developer.title">Developer</div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>