<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="settings-theme">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left"><a class="link back"><i class="icon icon-back"></i></a></div>
      <div class="title" data-localize="settings.theme.title">Theme</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="list">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title" data-localize="settings.theme.dark">Dark Mode</div>
              <div class="item-after">
                <label class="toggle toggle-init">
                  <input type="checkbox" id="dark-mode" field="theme" name="dark-mode" />
                  <span class="toggle-icon"></span>
                </label>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label" data-localize="settings.theme.title">Theme</div>
              <div class="item-input-wrap input-dropdown-wrap">
                <select id="theme" name="theme" field="theme">
                  <option value="color-theme-red" selected data-localize="colours.red">Red</option>
                  <option value="color-theme-blue" data-localize="colours.blue">Blue</option>
                  <option value="color-theme-green" data-localize="colours.green">Green</option>
                  <option value="color-theme-pink" data-localize="colours.pink">Pink</option>
                  <option value="color-theme-orange" data-localize="colours.orange">Orange</option>
                  <option value="color-theme-gray" data-localize="colours.gray">Gray</option>
                  <option value="color-theme-yellow" data-localize="colours.yellow">Yellow</option>
                  <option value="color-theme-purple" data-localize="colours.purple">Purple</option>
                </select>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title" data-localize="settings.theme.animations">Disable UI Animations</div>
              <div class="item-after">
                <label class="toggle toggle-init">
                  <input type="checkbox" id="toggle-animations" field="theme" name="animations" />
                  <span class="toggle-icon"></span>
                </label>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label" data-localize="settings.theme.language">Preferred Language</div>
              <div class="item-input-wrap input-dropdown-wrap">
                <select id="locale" name="locale" field="theme">
                  <option value="auto" selected data-localize="locale.auto">Detect Automatically</option>
                  <option value="en" data-localize="locale.english">English</option>
                  <option value="fi" data-localize="locale.finnish">Finnish</option>
                  <option value="de" data-localize="locale.german">German</option>
                  <option value="he" data-localize="locale.hebrew">Hebrew</option>
                  <option value="it" data-localize="locale.italian">Italian</option>
                  <option value="pt" data-localize="locale.portuguese">Portuguese</option>
                  <option value="ru" data-localize="locale.russian">Russian</option>
                  <option value="es" data-localize="locale.spanish">Spanish</option>
                </select>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label" data-localize="settings.theme.start-page">Start Page</div>
              <div class="item-input-wrap input-dropdown-wrap">
                <select id="theme" name="start-page" field="theme">
                  <option value="/diary/" selected data-localize="diary.title">Diary</option>
                  <option value="/statistics/" data-localize="statistics.title">Statistics</option>
                  <option value="/foods-meals-recipes/" data-localize="foods-meals-recipes.foods">Foods</option>
                  <option value="/foods-meals-recipes/meals/" data-localize="foods-meals-recipes.meals">Meals</option>
                  <option value="/foods-meals-recipes/recipes/" data-localize="foods-meals-recipes.recipes">Recipes</option>
                  <option value="/goals/" data-localize="goals.title">Goals</option>
                  <option value="/settings/" data-localize="settings.title">Settings</option>
                </select>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>