<!--
  Copyright 2018, 2019, 2020 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="diary">

	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link icon-only panel-toggle" data-panel=".panel-left">
					<i class="icon fas fa-bars"></i>
				</a>
			</div>
			<div class="title" data-localize="diary.title">Diary</div>
			<div class="right">
				<a href="#" class="link icon-only">
					<i class="icon fas fa-balance-scale-left"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="card no-border no-shadow" id="header">
			<div class="card-content">
				<div class="row" id="date-picker-container">
					<div class="col-25">
						<button class="button change-date">
							<i class="icon fas fa-chevron-left"></i>
						</button>
					</div>
					<div class="col-50">
						<input type="text" placeholder="Select date" readonly="readonly" id="diary-date" />
					</div>
					<div class="col-25">
						<button class="button change-date">
							<i class="icon fas fa-chevron-right"></i>
						</button>
					</div>
				</div>
				<div class="row" id="diary-nutrition">
					<div class="col-100">
						<div class="swiper-container swiper-init">
							<div class="swiper-wrapper"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="diary-day"></div>
	</div>
</div>