<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--<ons-page id="diary">

  <link rel="stylesheet" href="src/activities/diary/views/diary.css">

  <ons-toolbar>
    <div class="left"><ons-toolbar-button tappable onclick="menu.open()"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button></div>
    <div class="center" data-localize="diary.title">Diary</div>
    <div class="right"><ons-toolbar-button class="log-weight" id="log-weight"><ons-icon icon="fa-balance-scale"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>

  <ons-card id="header">
    <ons-row id="diary-date">
      <ons-col><ons-button tappable class="adjacent-date"><ons-icon icon="chevron-left"></ons-icon></ons-button></ons-col>
      <ons-col><ons-input  class="unstyled" id="date-picker" type="date"></ons-input></ons-col>
      <ons-col><ons-button tappable class="adjacent-date"><ons-icon icon="chevron-right"></ons-icon></ons-button></ons-col>
    </ons-row>
    <div id="diary-nutrition">
    </div>
  </ons-card>

  <div id="diary-day"></div>

  <ons-fab position="bottom right">
    <ons-icon icon="fa-utensils"></ons-icon>
  </ons-fab>

</ons-page>-->

<div class="page" data-name="diary">
	<div class="navbar">
		<div class="navbar-bg"></div>
      	<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link icon-only panel-toggle" data-panel=".panel-left">
					<i class="icon material-icons">menu</i>
				</a>
			</div>
  			<div class="title" data-localize="diary.title">Diary</div>
		</div>
	</div>

	<div class="page-content">
		<div class="card">
  			<div class="card-content">
				<input type="text" placeholder="Select date" readonly="readonly" id="diary-date"/>
			</div>
		</div>
	</div>
</div>
