<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-page id="diary-edit-item">
  <ons-toolbar modifier="material">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" data-localize="diary.edit-item.title">Edit Entry</div>
    <div class="right"><ons-toolbar-button id="submit"><ons-icon icon="md-check"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>

  <div id="item-data">
    <ons-card>
      <div id="info"></div>
      <ons-row>
        <ons-col vertical-align="center" width="50%">Meal</ons-col>
        <ons-col class="align-right">
          <ons-select select-id="category" name="category" data-native-menu="false"></ons-select>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="75%" data-localize="diary.edit-item.num-servings">Number of Servings</ons-col>
        <ons-col class="align-right">
          <ons-input id="quantity" name="quantity" type="number" min="1" inputmode="decimal"></ons-input>
        </ons-col>
        <ons-row>
      </ons-row>
        <ons-col width="75%" data-localize="diary.edit-item.portion-size">Portion Size</ons-col>
        <ons-col class="align-right">
          <ons-input id="portion" name="portion" type="number" min="1" inputmode="decimal" step="any" float></ons-input>
        </ons-col>
        <ons-col id="unit"></ons-col>
      </ons-row>
    </ons-card>
    <ons-list id="nutrition" modifier="inset"></ons-list>
  </div>

  <!--<div style="text-align: left; margin-top: 2em; margin-left:1em;">
    <h3 id="brand"></h3>
    <h4 id="name"><i></i></h4>
    <br>
    <form onsubmit="diary.updateEntry(); return false;" id="edit-item-form">
      <input type="hidden" id="id"> <!--The ID of the diary entry being edited-->
      <!--<input type="hidden" id="data"><!--Used for storing other data so that it can be accessed by other functions-->

      <!--<p><ons-input type="number" id="quantity" step="any" required="true" placeholder="Quantity" float value="1"></ons-input></p>
      <!--<ons-row>
        <ons-col style="padding-right:0.25em;"><ons-input type="number" min="1" inputmode="decimal" step="any" name="portion" id="portion" required="true" placeholder="Portion*" float value="1" onfocus="this.oldValue = this.value;"></ons-input></ons-col>
        <ons-col style="padding-left:0.25em;"><ons-input type="text" pattern="[A-Za-z]*" name="unit" id="unit" required="true" placeholder="Unit*" float readonly></ons-input></ons-col>
        <ons-col></ons-col>
      </ons-row>-->
      <!--<p><ons-input type="number" class="nutrition" id="calories" step="any" placeholder="Calories" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="fat" step="any" placeholder="Fat (g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="saturated-fat" step="any" placeholder="Saturated Fat(g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="carbs" step="any" placeholder="Carbs (g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="sugar" step="any" placeholder="Sugar (g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="protein" step="any" placeholder="Protein (g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="fiber" step="any" placeholder="Fibre (g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="salt" step="any" placeholder="Salt (g)" float readonly value="0"></ons-input></p>
      <p><ons-input type="number" class="nutrition" id="sodium" step="any" placeholder="Sodium (mg)" float readonly value="0"></ons-input></p>
    </form>
  </div>-->
</ons-page>
