<!--
  Copyright 2018, 2019, 2020 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="diary-edit-item" id="diary-edit-item">
	
	<div class="navbar">
		<div class="navbar-bg"></div>
      	<div class="navbar-inner">
			<div class="left">
       			<a class="link back">
            		<i class="icon fas fa-arrow-left"></i>
          		</a>
			</div>
  			<div class="title" data-localize="diary.title">Edit Item</div>
			<div class="right">
				<a id="submit" href="#" class="link icon-only">
					<i class="icon fas fa-check"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="page-content">
	
		<div class="card no-shadow no-border">
			<div class="card-header" id="item-name"></div>
			<div class="card-content">
				<p id="item-brand"></p>
			</div>
		</div>

      	<form class="list" id="diary-edit-form">
			<ul>
           		<li>
            		<div class="item-content item-input">
              			<div class="item-inner">
                			<div class="item-title item-label">Category</div>
                			<div class="item-input-wrap">
                  				<select id="category" name="category"></select>
                			</div>
              			</div>
            		</div>
          		</li>
          		<li>
            		<div class="item-content item-input">
              			<div class="item-inner">
                			<div class="item-title item-label">Number of servings</div>
                			<div class="item-input-wrap">
            					<input type="number" min="0" id="quantity" name="quantity">
                			</div>
              			</div>
            		</div>
          		</li>
        		<li>
            		<div class="item-content item-input">
              			<div class="item-inner">
                			<div class="item-title item-label">Serving Size</div>
                			<div class="item-input-wrap">
            					<input type="text" min="0" id="portion" name="portion">
                			</div>
              			</div>
            		</div>
          		</li>
        	</ul>
            <div class="card data-table data-table-collapsible data-table-init no-border no-shadow">
              <div class="card-header">
                <div class="data-table-title">Nutrition</div>
              </div>
              <div class="card-content list inline-labels">
              	<ul id="nutrition"></ul>
              </div>
            </div>
      	</form>
	</div>
</div>