<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="recipe-editor">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" id="title" data-localize="recipe-editor.title">Edit Recipe</div>
      <div class="right">
        <a href="#" id="sort" class="link sortable-toggle" data-sortable="#recipe-food-list"><i class="icon material-icons">swap_vert</i></a>
        <a href="#" id="submit" class="link icon-only"><i class="icon material-icons">done</i></a>
      </div>
    </div>
  </div>

  <div class="page-content">

    <form class="list" id="recipe-edit-form">
      <ul>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title"><b data-localize="food-editor.details">Details</b></div>
            </div>
          </a>
          <div class="accordion-item-content">
            <ul class="form-inputs">

              <li class="item-content" id="main-photo">
                <div class="item-inner">
                  <div class="add-photo" style="display:flex;">
                    <span>
                      <a class="add-photo-camera display-inline-block">
                        <i class="icon material-icons">add_a_photo</i>
                      </a>
                    </span>
                    <span class="margin-horizontal">
                      <a class="add-photo-library display-inline-block">
                        <i class="icon material-icons">add_photo_alternate</i>
                      </a>
                    </span>
                  </div>
                  <div class="photo-holder block"></div>
                </div>
              </li>

              <li class="item-content item-input inline-labels" id="categories-container">
                <a href="" id="categories">
                  <div class="item-inner">
                    <div class="item-title item-label" data-localize="food-editor.categories">Categories</div>
                    <div class="item-input-wrap"></div>
                    <div class="item-after" id="categories-list"></div>
                  </div>
                </a>
              </li>

              <li class="item-content item-input inline-labels">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="name" data-localize="food-editor.name">Name</label>
                  </div>
                  <div class="item-input-wrap">
                    <input type="text" class="align-end" id="name" name="name" trim required validate>
                  </div>
                </div>
              </li>

              <li class="item-content item-input inline-labels">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="portion" data-localize="food-editor.recipe-size">Recipe Amount</label>
                  </div>
                  <div class="item-input-wrap">
                    <input class="align-end auto-select" type="number" min="0" step="any" id="portion" name="portion" required validate>
                  </div>
                </div>
              </li>

              <li class="item-content item-input inline-labels">
                <div class="item-inner">
                  <div class="item-title item-label">
                    <label for="unit" data-localize="food-editor.recipe-unit">Recipe Unit</label>
                  </div>
                  <div class="item-input-wrap">
                    <input class="align-end auto-select" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="unit" name="unit" trim required validate>
                  </div>
                </div>
              </li>

              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" data-localize="recipe-editor.notes">Notes</div>
                  <div class="item-input-wrap">
                    <textarea id="notes" name="notes"></textarea>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </li>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title"><b data-localize="foods-meals-recipes.foods">Foods</b></div>
            </div>
          </a>
          <div class="accordion-item-content">
            <div class="list media-list multi-line-titles sortable">
              <ul id="recipe-food-list">
              </ul>
            </div>
            <ul>
              <li class="item-content" id="add-food">
                <div class="item-inner">
                  <div class="item-title"><a><i class="icon material-icons">add</i></a></div>
                  <div class="item-after"></div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="accordion-item accordion-item-opened">
          <a href="" class="item-divider item-link item-content">
            <div class="item-inner">
              <div class="item-title"><b data-localize="food-editor.nutrition">Nutrition</b></div>
            </div>
          </a>
          <div class="accordion-item-content inline-labels">
            <ul id="nutrition">
            </ul>
            <ul>
              <li><a class="list-button" id="nutrition-button" data-localize="foods-meals-recipes.show-more-nutriments">Show more nutrients</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>