<ons-page id="diary-page">
  <ons-toolbar modifier="material">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Diary</div>
    <div class="right"></div>
  </ons-toolbar>

  <div id="date-selector">
      <input id="date" type="date" value="2018-05-27">
  </div>

  <ons-list id="list1" modifier="inset">
  </ons-list>

  <ons-list id="list2" modifier="inset">
  </ons-list>

  <ons-list id="list3" modifier="inset">
  </ons-list>

  <ons-list id="list4" modifier="inset">
  </ons-list>

</ons-page>
