<ons-page id="diary-page">
  <ons-toolbar modifier="material">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Diary</div>
    <div class="right"><ons-toolbar-button id="record-weight" onclick="diary.recordWeight()"><ons-icon icon="fa-balance-scale"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>

  <div id="date-selector" style="text-align:center;">
      <input id="date" type="date">
  </div>

  <ons-list id="list1" modifier="inset"></ons-list>

  <ons-list id="list2" modifier="inset"></ons-list>

  <ons-list id="list3" modifier="inset"></ons-list>

  <ons-list id="list4" modifier="inset"></ons-list>


  <ons-bottom-toolbar id="stat-bar">
    Content
  </ons-bottom-toolbar>

</ons-page>
