/*
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Group title and total energy */
.page[data-name="diary"] .group-title {font-weight: bold;}
.page[data-name="diary"] .group-energy {font-weight: bold;}

/* Nutrition/Goals display */
.page[data-name="diary"] #diary-nutrition .swiper {width: 100%; margin-top: 0.4em;}
.page[data-name="diary"] #diary-nutrition .row {justify-content: space-around;}
.page[data-name="diary"] #diary-nutrition .col {text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.page[data-name="diary"] #diary-nutrition .nutrition-total-title {font-weight: bold;}

.page[data-name="diary"] #diary-nutrition.show-values .nutrition-total-remaining {display: none;}
.page[data-name="diary"] #diary-nutrition.show-remaining .nutrition-total-values {display: none;}

/* Dialog with scrollbar */
.scroll-dialog {max-height: 64vh; overflow-y: auto;}