/*
  Copyright 2018, 2019, 2020 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with app.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Nutrition/Goals display */
.page[data-name="diary"] #diary-nutrition {margin-top: 1em; margin-bottom: 1em;}
.page[data-name="diary"] #diary-nutrition .col {text-align: center;}
.page[data-name="diary"] #diary-nutrition .nutrition-total-title {font-weight: bold;}