<ons-page id="statistics">
  <ons-toolbar modifier="material">
    <div class="left"></div>
    <div class="center">Waistline</div>
    <div class="right"></div>
  </ons-toolbar>

  <div style="text-align:center">
    <ons-select name="range" id="range" data-native-menu="false">
      <option value="7" data-localize="week">1 Week</option>
      <option value="1" data-localize="month" selected="selected">1 Month</option>
      <option value="3" data-localize="3month">3 Months</option>
      <option value="6" data-localize="6month">6 Months</option>
      <option value="12" data-localize="12month">1 Year</option>
    </ons-select>
  </div>

  <ons-card id="diaryStats"></ons-card> <!-- All content added dynamically-->

  <ons-card id="nutrition">
    <canvas height="200" width="300"></canvas>
  </ons-card>

  <ons-card id="weight">
  </ons-card>

</ons-page>
