<!--
  Copyright 2018 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-page id="goals">
  <ons-toolbar modifier="material">
    <div class="left"><ons-toolbar-button tappable onclick="menu.open()"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button></div>
    <div class="center" data-localize="goals.title">Goals</div>
    <div class="right"></div>
  </ons-toolbar>

  <ons-list id="goals-list">
    <ons-list-item id="weight" modifier="chevron" tappable onclick="nav.pushPage('activities/goals/views/weight.html')"><div data-localize="weight">Weight</div></ons-list-item>
    <ons-list-item id="calories" class="nutrition" modifier="chevron" tappable><div data-localize="calories">Calories</div></ons-list-item>
    <ons-list-item id="protein" class="nutrition" modifier="chevron" tappable><div data-localize="protein">Protein</div></ons-list-item>
    <ons-list-item id="carbs" class="nutrition" modifier="chevron" tappable><div data-localize="carbs">Carbs</div></ons-list-item>
    <ons-list-item id="fat" class="nutrition" modifier="chevron" tappable><div data-localize="fat">Fat</div></ons-list-item>
    <ons-list-item id="saturated-fat" class="nutrition" modifier="chevron" tappable><div data-localize="saturated=fat">Saturated Fat</div></ons-list-item>
    <ons-list-item id="sugar" class="nutrition" modifier="chevron" tappable><div data-localize="sugar">Sugar</div></ons-list-item>
    <ons-list-item id="fibre" class="nutrition" modifier="chevron" tappable><div data-localize="fibre">Fibre</div></ons-list-item>
    <ons-list-item id="salt" class="nutrition" modifier="chevron" tappable><div data-localize="salt">Salt</div></ons-list-item>
  </ons-list>

</ons-page>
