.align-left {text-align: left;}
.align-right {text-align: right;}
* {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
input { -webkit-touch-callout: default !important; -webkit-user-select: auto !important; -khtml-user-select: auto !important; -moz-user-select: auto !important; -ms-user-select: auto !important; user-select: auto !important;}

.nutrition-card {margin-top: 1em; margin-bottom: 1em;}
.nutrition-card .col {text-align: center;}
.nutrition-card .nutrition-total-title {font-weight: bold;}

select.align-right {direction: rtl;}
option {direction: ltr;}

#foodlist-container .item-title {width:65% !important;}
#quantity-container .item-title {width:65% !important;}
#nutrition .item-title {width:65% !important;}