input:invalid {
  color:red;  /*Colour invalid input contents*/
  box-shadow: none; /*Disable browser highlighting required fields*/
}

#diaryDate {position:relative; text-align: center; margin-top:0; margin-bottom: 2.2em;}
#editDiaryItemPage #caloriesPerPortion {text-align:center; font-size:12px;}

.calorieCount {max-width:100%; height:100%; padding: 0.1em;}
.statusBar .heading {font-size: 14px; text-align: center; padding-top: 0.5em;}
.statusBar .stat {font-size: 12px; text-align: center; padding-bottom: 0.5em;}

#diaryPage .ui-content {
  padding-top: 0px;
}

/*Food image*/
#editFoodPage #foodImage {
  margin-top: 2em !important;
  width:100% !important;
  min-width:100% !important;
}

#editFoodPage #foodImage img {
  display: block !important;
  margin: 2em auto 1em auto !important;
  height:auto !important;
  width: 50% !important;
}

/*Font*/
@font-face {
  font-family: 'RobotoRegular';
  src: url('font/Material-Design-Iconic-Font.eot');
  src: url('font/Material-Design-Iconic-Font.eot?#iefix') format('embedded-opentype'),
       url('font/Material-Design-Iconic-Font.woff') format('woff'),
       url('font/Material-Design-Iconic-Font.ttf') format('truetype'),
       url('font/Material-Design-Iconic-Font.eot.svg#Material-Design-Iconic-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Android jQM Font Style Overrides */
body  * {
  font-family: "Material-Design-Iconic-Font" !important;
  font-weight: normal !important;
}

/*Header*/
.ui-header {
  border:none !important;
  height:3.5em !important;
  box-shadow: 0px 1px 3px #999999 !important;
  background-color: rgb(96, 125, 139) !important;
  color:white !important;
}

/*Header Text*/
.ui-header h1 {
  height:100% !important;
  padding: 0 !important;
  vertical-align: middle !important;
  line-height: 100% !important;
  display:flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/*Footer*/
.footer{
  position:fixed;
  bottom:0;
  top:auto;
  border: none !important;
  border-top: 1px solid rgb(217, 217, 217) !important;
}

/*Remove button icon circles*/
.ui-page-theme-a .ui-nodisc-icon, .ui-page-theme-a .ui-nodisc-icon:hover {
  background-color: transparent;
  color: transparent;
  text-shadow: 0;
  border:none;
  box-shadow: none !important;
}

/*Buttons*/
.ui-btn, .ui-btn:focus, .ui-popup {
  border:1px solid rgb(237, 237, 237) !important;
}

.ui-header .ui-btn {
  border: none !important;
}

/*Select boxes*/
.ui-select .ui-btn, .ui-select .ui-btn:focus {
    box-shadow: 0px 1px 3px #AAAAAA !important;
}

/*Popups*/
.ui-popup p {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.ui-popup .ui-btn {
  box-shadow: 0px 1px 3px #AAAAAA !important;
}

/*Header buttons*/
.ui-header .ui-btn, .ui-header .ui-btn:focus {
  height:100% !important;
  margin:0 !important;
  top:0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

/*Style input boxes*/
.ui-input-text {
  border:none !important;
  border-bottom: 1px solid black !important;
  background-color: transparent !important;
  box-shadow:none;
  margin-bottom: 2em;
  text-shadow: none;
}

.ui-checkbox {
  margin-bottom: 2em;
  border:1px solid rgb(227, 227, 227) !important;
}

#editDiaryItemForm #saveDiaryItem {
  margin-top: 2em;
}

/*Disable glow and shadow on selected input boxes*/
.ui-focus, .ui-select {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}

/*Search input*/
.ui-input-search {
  border: none !important;
  border-bottom: 1px solid rgb(190, 190, 190) !important;
  box-shadow: none !important;
  margin-bottom: 2em !important;
}

/*Listview*/
.ui-li-divider
{
  color:rgb(100, 100, 100) !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border:none !important;
  border-top: 1px solid rgb(190, 190, 190) !important;
  font-size: 0.95em !important;
  padding-left: 0.8em !important;
}

li .ui-btn {
  border: none !important;
  font-size: 0.9em !important;
}

li p {
  color:rgb(100, 100, 100) !important;
  font-size: 0.9em !important;
}

.editFood.ui-btn
{
  border-left:1px solid rgb(190, 190, 190) !important;
}

#foodListview li, #weightLog li {
  border: none !important;
  border-top: 1px solid rgb(190, 190, 190) !important;
}

/*Statistics*/
#weightLog {
  margin-top: 2em !important;
}

/*Form labels*/
label {
  font-size:0.9em !important;
  color:rgb(100, 100, 100) !important;
}
