<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-page id="food-settings">
  <ons-toolbar modifier="material">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" data-localize="settings.food.title">Food Settings</div>
    <div class="right"></div>
  </ons-toolbar>

  <ons-list>

    <ons-list-item>
      <div class="center" data-localize="settings.food.images">Show Food Images</div>
      <div class="right"><ons-switch></ons-switch></div>
    </ons-list-item>

    <ons-list-item>
      <div class="center" width="60%" data-localize="settings.food.country">Search Country</div>
      <div class="right">
        <ons-select name="country" id="country" data-native-menu="false">
          <option value="All">All</option>
          <option value="France">France</option>
          <option value="United States">United States</option>
          <option value="Germany">Germany</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Belgium">Belgium</option>
          <option value="Spain">Spain</option>
          <option value="United Kingdom" selected="">United Kingdom</option>
          <option value="Canada">Canada</option>
          <option value="Mexico">Mexico</option>
          <option value="Italy">Italy</option>
          <option value="Australia">Australia</option>
          <option value="Russia">Russia</option>
          <option value="Sweden">Sweden</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Portugal">Portugal</option>
          <option value="Austria">Austria</option>
          <option value="Denmark">Denmark</option>
          <option value="Romania">Romania</option>
          <option value="Hungary">Hungary</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Ireland">Ireland</option>
          <option value="R&#233;union">R&#233;union</option>
          <option value="Serbia">Serbia</option>
          <option value="Morocco">Morocco</option>
          <option value="Brazil">Brazil</option>
          <option value="Algeria">Algeria</option>
          <option value="Japan">Japan</option>
          <option value="Guadeloupe">Guadeloupe</option>
          <option value="Poland">Poland</option>
          <option value="French Polynesia">French Polynesia</option>
          <option value="India">India</option>
          <option value="Thailand">Thailand</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Martinique">Martinique</option>
          <option value="Norway">Norway</option>
          <option value="Tunisia">Tunisia</option>
          <option value="China">China</option>
          <option value="New Caledonia">New Caledonia</option>
          <option value="South Africa">South Africa</option>
          <option value="Taiwan">Taiwan</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="Greece">Greece</option>
          <option value="Chile">Chile</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Argentina">Argentina</option>
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Finland">Finland</option>
          <option value="Cyprus">Cyprus</option>
          <option value="French Guiana">French Guiana</option>
          <option value="Senegal">Senegal</option>
          <option value="Israel">Israel</option>
          <option value="Colombia">Colombia</option>
          <option value="Singapore">Singapore</option>
          <option value="Georgia">Georgia</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Lebanon">Lebanon</option>
          <option value="Vietnam">Vietnam</option>
          <option value="Turkey">Turkey</option>
          <option value="Croatia">Croatia</option>
          <option value="C&#244;te d'Ivoire">C&#244;te d'Ivoire</option>
          <option value="Slovenia">Slovenia</option>
          <option value="European Union">European Union</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Slovakia">Slovakia</option>
          <option value="Iraq">Iraq</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Ukraine">Ukraine</option>
          <option value="Qatar">Qatar</option>
          <option value="Indonesia">Indonesia</option>
          <option value="South Korea">South Korea</option>
          <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
          <option value="Egypt">Egypt</option>
          <option value="Albania">Albania</option>
          <option value="Philippines">Philippines</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Burkina Faso">Burkina Faso</option>
          <option value="Peru">Peru</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Iceland">Iceland</option>
          <option value="Gabon">Gabon</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Montenegro">Montenegro</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Republic of Macedonia">Republic of Macedonia</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Armenia">Armenia</option>
          <option value="Monaco">Monaco</option>
          <option value="Jordan">Jordan</option>
          <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
          <option value="Latvia">Latvia</option>
          <option value="Estonia">Estonia</option>
          <option value="Malta">Malta</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Macau">Macau</option>
          <option value="Andorra">Andorra</option>
          <option value="Democratic Republic of the Congo">DR Congo</option>
          <option value="Iran">Iran</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="fr:quebec">fr:quebec</option>
          <option value="Belarus">Belarus</option>
          <option value="fr:dom-tom">fr:dom-tom</option>
          <option value="Kosovo">Kosovo</option>
          <option value="Oman">Oman</option>
          <option value="Panama">Panama</option>
          <option value="Republic of the Congo">Republic of the Congo</option>
          <option value="Guinea">Guinea</option>
          <option value="Benin">Benin</option>
          <option value="fr:en">fr:en</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Mayotte">Mayotte</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Mali">Mali</option>
          <option value="Niger">Niger</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="Moldova">Moldova</option>
          <option value="Togo">Togo</option>
          <option value="Nigeria">Nigeria</option>
          <option value="Haiti">Haiti</option>
          <option value="Cuba">Cuba</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Puerto Rico">Puerto Rico</option>
          <option value="Saint Martin">Saint Martin</option>
          <option value="Libya">Libya</option>
          <option value="Kenya">Kenya</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Palestinian territories">Palestinian territories</option>
          <option value="Aruba">Aruba</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="Yemen">Yemen</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Chad">Chad</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Vanuatu">Vanuatu</option>
          <option value="Malawi">Malawi</option>
          <option value="Brunei">Brunei</option>
          <option value="World">World</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Namibia">Namibia</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Trinidad and Tobago">Trinidad and Tobago</option>
          <option value="Myanmar">Myanmar</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Cook Islands">Cook Islands</option>
          <option value="Nepal">Nepal</option>
          <option value="Syria">Syria</option>
          <option value="Laos">Laos</option>
          <option value="Honduras">Honduras</option>
          <option value="Ghana">Ghana</option>
          <option value="Swaziland">Swaziland</option>
          <option value="Zh">Zh</option>
          <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
          <option value="Angola">Angola</option>
          <option value="Fiji">Fiji</option>
          <option value="Central African Republic">Central African Republic</option>
          <option value="Soviet Union">Soviet Union</option>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Burundi">Burundi</option>
          <option value="Gibraltar">Gibraltar</option>
          <option value="Tanzania">Tanzania</option>
          <option value="Sierra Leone">Sierra Leone</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Saint Lucia">Saint Lucia</option>
          <option value="Barbados">Barbados</option>
          <option value="The Bahamas">The Bahamas</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Guyana">Guyana</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Cura&#231;ao">Cura&#231;ao</option>
          <option value="Kyrgyzstan">Kyrgyzstan</option>
          <option value="Maldives">Maldives</option>
          <option value="Guernsey">Guernsey</option>
          <option value="fr:exportation">fr:exportation</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Virgin Islands of the United States">Virgin Islands USA</option>
          <option value="Antigua and Barbuda">Antigua and Barbuda</option>
          <option value="Republika Srpska">Republika Srpska</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Timor-Leste">Timor-Leste</option>
          <option value="Nl-be">Nl-be</option>
          <option value="Suriname">Suriname</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="&#197;land Islands">&#197;land Islands</option>
          <option value="Montserrat">Montserrat</option>
          <option value="Dominica">Dominica</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Isle of Man">Isle of Man</option>
          <option value="Wallis and Futuna">Wallis and Futuna</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Somalia">Somalia</option>
          <option value="British Indian Ocean Territory">Indian Ocean Territory</option>
        </ons-select>
      </div>
    </ons-list-item>

  </ons-list>

</ons-page>
