<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-page id="integration-settings">

  <link rel="stylesheet" href="src/activities/settings/views/settings.css">

  <ons-toolbar modifier="material">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" data-localize="settings.integration.title">Integration settings</div>
    <div class="right"></div>
  </ons-toolbar>

  <ons-list>
      <ons-list-item id="open-off-settings" data-localize="settings.integration.off" tappable>Set Open Food Facts Credentials</ons-list-item>
  </ons-list>

  <!--Dialogs-->
  <ons-alert-dialog id="off-credentials-dialog">
    <div class="alert-dialog-title">OFF Credentials</div>
    <div class="alert-dialog-content">
      <ons-row>
        <ons-col><ons-input id="username" type="text" required="true" placeholder="Username*" float value="waistline-app"></ons-input></ons-col>
      </ons-row>
      <ons-row>
        <ons-col><ons-input id="password" type="password" required="true" placeholder="Password*" float value="waistline"></ons-input></ons-col>
      </ons-row>
    </div>
    <div class="alert-dialog-footer">
      <ons-alert-dialog-button id="cancel"">Cancel</ons-alert-dialog-button>
      <ons-alert-dialog-button id="save">Save</ons-alert-dialog-button>
    </div>
  </ons-alert-dialog>
</ons-page>
