<!--
  Copyright 2018, 2019, 2020, 2021 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="page" data-name="settings">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only panel-toggle" data-panel=".panel-left">
          <i class="icon material-icons">menu</i>
        </a>
      </div>
      <div class="title" data-localize="settings.title">Settings</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="list">
      <ul>
        <li>
          <a href="./theme/" class="item-link item-content">
            <div class="item-inner" data-localize="theme">Theme</div>
          </a>
        </li>

        <li>
          <a href="./diary/" class="item-link item-content">
            <div class="item-inner" data-localize="diary">Diary</div>
          </a>
        </li>

        <li>
          <a href="./foods/" class="item-link item-content">
            <div class="item-inner" data-localize="foods-meals-recipes">Foods, Meals, Recipes</div>
          </a>
        </li>

        <li>
          <a href="./nutrition/" class="item-link item-content">
            <div class="item-inner" data-localize="nutrition">Nutrition</div>
          </a>
        </li>

        <li>
          <a href="./integration/" class="item-link item-content">
            <div class="item-inner" data-localize="integration">Integration</div>
          </a>
        </li>

        <li>
          <a href="./import-export/" class="item-link item-content">
            <div class="item-inner" data-localize="import-export">Import/Export</div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>