<!--
  Copyright 2018, 2019 David Healey

  This file is part of Waistline.

  Waistline is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Waistline is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Waistline.  If not, see <http://www.gnu.org/licenses/>.
-->
<ons-page id="settings">
  <ons-toolbar modifier="material">
    <div class="left"><ons-toolbar-button tappable onclick="menu.open()"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button></div>
    <div class="center" data-localize="settings.title">Settings</div>
    <div class="right"></div>
  </ons-toolbar>

  <ons-list>

    <ons-list-item tappable modifier="chevron longdivider" onclick="nav.pushPage('src/activities/settings/views/theme-settings.html');">Theme</ons-list-item>
    <ons-list-item tappable modifier="chevron longdivider" onclick="nav.pushPage('src/activities/settings/views/diary-settings.html');">Diary</ons-list-item>
    <ons-list-item tappable modifier="chevron longdivider" onclick="nav.pushPage('src/activities/settings/views/food-settings.html');">Foods, Meals, Recipes</ons-list-item>
    <ons-list-item tappable modifier="chevron longdivider" onclick="nav.pushPage('src/activities/settings/views/integration-settings.html');">Integration</ons-list-item>
    <ons-list-item tappable modifier="chevron longdivider" onclick="nav.pushPage('src/activities/settings/views/import-export-settings.html');">Import & Export</ons-list-item>

  </ons-list>

</ons-page>
